:root {
    --card-bg: #eee;
    --neupho-bg:#eee;
}

.bg-neu {
    background-color: var(--neupho-bg) !important;
}
.npo-form-shadow {
    /*box-shadow: 20px 20px 40px 0px #bcbcbd, -20px -20px 40px #f8fdff;*/
    box-shadow:
            -2.3px -2.3px 3.8px rgba(255,255,255, 0.2),
            -6.3px -6.3px 10.6px rgba(255,255,255, 0.3),
            -15.1px -15.1px 25.6px rgba(255,255,255, 0.4),
            -50px -50px 85px rgba(0255,255,255, 0.07),

            2.3px 2.3px 3.8px rgba(0, 0, 0, 0.024),
            6.3px 6.3px 10.6px rgba(0, 0, 0, 0.035),
            15.1px 15.1px 25.6px rgba(0, 0, 0, 0.046),
            50px 50px 85px rgba(0, 0, 0, 0.07);
    background-color: var(--neupho-bg);
    /*background:#FEFEFC;*/
}



.npo-input,
.npo-input:focus,
.npo-input:active {
    @apply ml-2;
    border: none;
    background: transparent;
    outline: none;
    flex-grow: 1;
    color: #333;
    font-size: 0.95rem;
}

.npo-input-wrapper {
    @apply mt-1 flex flex-row items-center gap-2 rounded-[12px] px-[0.9rem] py-[0.6rem] items-center justify-start p-3;
    box-shadow: var(--neupho-input-shadow-focus);
    transition:
        box-shadow 0.2s ease,
        background 0.2s ease;

    &:focus-within {
        box-shadow: var(--neupho-input-shadow-focus);
    }
}

.npo-form-label {
    @apply ml-2 font-kulim font-semibold capitalize;
    font-size: 0.875rem;
    color: #374151;
}

.npo-input:-webkit-autofill,
.npo-input:-webkit-autofill:hover,
.npo-input:-webkit-autofill:focus,
.npo-input:-webkit-autofill:active {
    box-shadow: 0 0 0 1000px #f7f8fc inset !important;
    -webkit-text-fill-color: #333 !important;
}

.neu-button {
    color: inherit;
    position: relative;
    background: inherit;
    outline: none;
    border: none;
    box-shadow: -2.3px -2.3px 3.8px rgba(255,255,255, 0.2),
    -6.3px -6.3px 10.6px rgba(255,255,255, 0.3),
    -15.1px -15.1px 25.6px rgba(255,255,255, 0.4),
    -50px -50px 85px rgba(0255,255,255, 0.07),

    2.3px 2.3px 3.8px rgba(0, 0, 0, 0.024),
    6.3px 6.3px 10.6px rgba(0, 0, 0, 0.035),
    15.1px 15.1px 25.6px rgba(0, 0, 0, 0.046),
    50px 50px 85px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 12px;
    &:after {
        pointer-events: none;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 3px;
    }
    &.active:after {
        content: '';
        position: absolute;
        border-radius: 12px;
        inset:5px;
        box-shadow: var(--neupho-btn-focus-shadow) !important;
    }
}


.neu-button:hover::after,
.neu-button:focus::after
{
    content: '';
    position: absolute;
    border-radius: 12px;
    inset:5px;
    box-shadow: var(--neupho-btn-focus-shadow) !important;
}


/*.neu-button:hover, .neu-button:focus {*/
/*    box-shadow: inset 3px 3px 6px rgba(0,0,0,0.10),*/
/*    inset -3px -3px 6px rgba(255,255,255,0.9);*/
/*}*/
