@page {
    size: A4;
    margin: 30mm 20mm 25mm 20mm;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    background: #FAF9F6;
}

header {
    position: fixed;
    top: 0;   /* EXACTO al margen superior */
    left: 0;
    right: 0;
    height: 30mm;      /* Área total del header */
    padding: 5mm 20mm; /* Espaciado interno */
    z-index: 999;
}

header .property-name {
    font-weight: 400;
    font-size: 16px;
    color: black;
    opacity: 0.08;
}

header img {
    height: 100px; /* Ajusta según tu logo */
    width: 100px;
    opacity: 0.15;
}
.content {
    margin-top: 70px; /* Para no solaparse con el header */
    margin-bottom: 50px; /* Para no solaparse con el footer */
}

/*image styles*/
.polaroid {
    background-color: #fff;
    padding: 1rem 1rem 1rem;
    width: 32rem;
    box-shadow: 5px 7px 4px #888888;
    margin: 0 auto 2rem;
    display: block;
    position: relative;
}

.polaroid-caption{
    position:relative;
    width: calc(100% - 20px);
    margin-top:0.5rem;
    font-size: 16px;
    text-align: center;
    line-height: 2em;
}

img {
    width: 100%;
}

/* TABLE STYLES */

.overview-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    padding: 0 1rem;
}

/* ROWS */
.overview-table tr {
    border-bottom: 0.75px solid #00000080;
}

.overview-table tr:last-child {
    border-bottom: none;
}

/* LABEL COLUMN */
.overview-table .label {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1.2px;
    color: #6b7280;
    padding: 14px 0;
}

/* VALUE COLUMN */
.overview-table .value {
    font-weight: 600;
    color: #111827;
    text-align: left;
    padding: 14px 0;
}

.warning-note {
    background-color: #F7F7F5; /* off-white */
    border: 1px solid #D1D1D1;
    padding: 12px 14px;
    font-size: 10.5px;
    line-height: 1.4;
    color: #333333;
}

.warning-note strong {
    font-size: 11px;
}

.signals-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 12px;
}

.signals-table tr {
    border-bottom: 1px solid #00000080;
}

.signals-table tr:last-child {
    border-bottom: none;
}

.signals-table td {
    padding: 6px 4px;
    font-size: 11px;
    color: #374151;
    vertical-align: middle;
}

.signal-icon {
    width: 24px;
    text-align: center;
    color: #6B7280;
    font-family: "Material Icons"; /* or whatever icon font you use */
}

.signal-label {
    font-weight: normal;
}

.signal-value {
    font-weight: bold;
    text-align: center;
}

.signal-detail {
    color: #6B7280;
    text-align: right;
}


